In [3]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [4]:
from orbit.models.dlt import DLTMAP

In [5]:
stocks = ['AAPL', 'ATVI', 'MRNA', 'SPCE', 'TSLA']

In [6]:
dfs = [pd.read_csv(f'../data/{stocks[i]}/2021-06-01 - 2021-09-01.csv', index_col=0, parse_dates=['time'], dayfirst=True) for i in range(len(stocks))]
for index, stock in enumerate(stocks):
    dfs[index].name = stock
dfs[0].head()

                       time   price
0 2021-06-01 04:00:00+00:00  125.00
1 2021-06-01 04:15:00+00:00  125.17
2 2021-06-01 04:30:00+00:00  125.20
3 2021-06-01 04:45:00+00:00  125.30
4 2021-06-01 05:00:00+00:00  125.38

In [7]:
dlt = DLTMAP(
    response_col='price',
    date_col='time',
)

In [ ]:
%%time

dlt